/*Global Styles*/
body {
	background-color: var(--bg-primary);
	font-family: var(--main-font);
	background-image: url("img/bg-pattern-top-mobile.svg"), url("img/bg-pattern-bottom-mobile.svg");
	background-position: top left, bottom left;
    background-repeat: no-repeat, no-repeat;
    background-size: 100%, 50%;
}

.review {
	margin: 0 auto;
	max-width: 840px;
	width: 100%;
	padding: 100px 25px;
	display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 31px);
    flex-direction: column;
}


/*Font Styles*/
h1 {
	font-size: 2.3rem;
	font-weight: 700;
	color: var(--heading-primary);
	padding-bottom: 20px;
}

.rating__text {
	font-size: 0.9375rem;
	color: var(--heading-primary);
	font-weight: 700;
	padding-top: 5px;
}

.review-name__text {
	font-size: 0.9375rem;
	color: var(--bg-primary);
	font-weight: 500;
	display: block;
}

.verified__text {
	font-size: 0.9375rem;
	color: var(--title-secondary);
	display: block;
}

.review__quote p {
	font-size: 0.9375rem;
	color: var(--bg-primary);
}



/*Review Section*/
.information__holder {
	text-align: center;
	padding-bottom: 30px;
}

.information__text p {
	font-size: 0.9375rem;
	color: var(--title-primary);
}

.rating__box {
	background-color: var(--box-primary);
	border-radius: 10px;
	margin-top: 15px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.rating__icons img {
	padding-right: 5px;
}

.review__box {
	background-color: var(--heading-primary);
	border-radius: 10px;
	padding: 35px;
	margin-top: 15px;
}

.review__box:first-child, .rating__box:first-child {
	margin-top: 30px;
}

.review__title {
	display: flex;
	align-items: center;
	padding-bottom: 30px;
}

.review-title__image img {
	border-radius: 90px;
	margin-right: 25px;
	height: 40px;
}


/*Footer Styles*/
.attribution {
    font-size: 11px; 
    text-align: center; 
    color: hsl(228, 45%, 44%); 
    padding: 10px;
}

.attribution a {
	color: hsl(228, 45%, 44%); 
}


/*Media Queries*/
@media screen and (min-width: 1025px) {
	body {
		background-image: url("img/bg-pattern-top-desktop.svg"), url("img/bg-pattern-bottom-desktop.svg");
		background-size: 40%, 60%;
		background-position: top left, bottom right;
	}

	.review {
		max-width: 1200px;
		padding: 100px 40px;
	}

	.information__holder {
		display: flex;
		text-align: left;
	}

	h1 {
		font-size: 3.5rem;
	}

	.information__text, .information__rating {
		flex: 0 1 50%;
	}

	.information__text {
		padding-right: 100px;
	}

	.rating__text {
		padding-top: unset;
	}
	

	.information__rating {
		display: flex;
		flex-direction: column;
		padding-left: 30px;
	}

	.rating__box {
		flex-direction: row;
		padding: 15px 25px;
	}

	.rating__icons img:last-child {
		padding-right: 25px;
	}
	
	.rating__a {
		align-self: flex-start;
	}
	
	.rating__b {
		align-self: center;
	}

	.rating__c {
		align-self: flex-end;
	}

	.review__holder {
		display: flex;
	}

	.review__holder:last-child {
		margin-right: unset;
	}

	.review__box {
		margin-right: 35px;
		flex: 0 1 33%;
		display: inline-block;
	}

	.review__box:first-child, .rating__box:first-child {
	margin-top: unset;
	}

	.review__b {
		margin-top: 25px;
		margin-bottom: -25px;
	}

	.review__c {
		margin-top: 50px;
		margin-bottom: -50px;
	}
}


